@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&family=Roboto:wght@300&display=swap');

:root{
    --main-color : #0fb4bd;
    --black:#2c3e50;
    --white : white;
    --oragen : #f39c12;
    --red : #e74c3c;
    --light-black: #777;
    --light-white : #fff9;
    --dark-bg: rgba(0,0,0,.7);
    --liight-bg : #eee ;
    --border:.1rem solid rgba(0,0,0,.2);
    --box-shadow : 0 .5rem 1rem rgba(0,0,0,.1);
    --text-shadow : 0 .5rem 3rem rgba(0,0,0,.3);
}
*{
    font-family: 'Nunito' , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    
}
*::selection{
    background-color: var(--main-color);
    color: #fff;
}
*::-webkit-scrollbar {
    width: 1rem;
    height: .5rem;
}
*::-webkit-scrollbar-track {
    background-color: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    padding-bottom: 9rem;
    background-color: var(--liight-bg);
    padding-left: 30rem;
}
section{
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}
.heading {
    
    font-size: 2.8rem;
    color: var(--black);
    text-transform: capitalize;
    padding-bottom: 1.5rem;
    margin-bottom: 3rem;
    border-bottom: var(--border);
}
.empty{
    width: 100%;
    
    color: var(--red);
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
    border-radius: .5rem;
}

.message{
    position: sticky;
    top:0 ; left: 0; right: 0;
    z-index: 1200;
    background-color: var(--liight-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 1.2rem;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: .5rem;
}
.message.form{
    top:2rem;
    background-color: var(--white);
    
}

.message span{
    font-size: 2rem;
    color: var(--black);
}
.message i{
    cursor: pointer;
    font-size: 2.5rem;
    color: var(--red);
    transition: .2s linear;
}
.message i:hover{
    transform: rotate(90deg);
}

.btn,
.option-btn,
.delete-btn,
.inline-btn,
.inline-option-btn,
.inline-delete-btn{
    margin-top: 1rem;
    border-radius: 2rem;
    padding: 1rem 3rem;
    cursor: pointer;
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
    text-transform: capitalize;
}
.btn:hover,
.option-btn:hover,
.delete-btn:hover,
.inline-btn:hover,
.inline-option-btn:hover,
.inline-delete-btn:hover{
    background-color: var(--black);
    color: var(--white);
}

.inline-btn,
.inline-option-btn,
.inline-delete-btn{
    display: inline-block;
}

.btn,
.option-btn,
.delete-btn{
    display: block;
    width: 100%;
}
.btn,
.inline-btn{
    background-color: var(--main-color);
}
.option-btn,
.inline-option-btn{
    background-color: var(--oragen);
}

.delete-btn,
.inline-delete-btn{
    background-color: var(--red);
}

.flex-btn{
    display: flex;
    gap: 1.5rem;  
}


body.active{
    padding-left: 0;
}
.header{
    position: sticky;
    top:0; left: 0; right: 0;
    background-color: var(--white);
    border-bottom: var(--border);
    z-index: 1000;
    box-shadow: var(--box-shadow);
}
.header .flex{
    display: flex;
    align-items: center;
    padding-top: 1rem;
    justify-content: space-between;
    position: relative;
}
.header .flex .logo{
    font-size: 2.5rem;
    color: var(--black);
}
.header .flex .search-form{
    width: 50rem;
    background-color: var(--liight-bg);
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    display: flex;
    gap: 2rem;
    
}
.header .flex .search-form input{
    background:none;
    width: 100%;
    font-size: 1.8rem;
    color: var(--black);
}
.header .flex .search-form button{
    background: none;
    font-size: 2rem;
    cursor: pointer;
}
.header .flex .search-form button:hover{
    color:  var(--main-color);
}
.header .flex .icons div{
    margin-left: .5rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.4rem;
    font-size: 2rem;
    color: var(--black);
    cursor: pointer;
    background-color: var(--liight-bg);
    text-align: center;
    border-radius: .5rem;
}
.header .flex .icons div:hover{
    color: var(--white);
    background-color: var(--black);
}
#search-btn{
    display: none;
}
.header .flex .profile{
    position: absolute;
    top: 120%;
    right: 2rem;
    background-color: var(--white);
    padding: 1.5rem;
    text-align: center;
    border-radius: .5rem;
    width: 30rem;
    overflow-x: hidden;
    transform-origin: top right;
    transform: scale(0);
    transition: .2s linear;
}
.header .flex .profile.active{
    transform: scale(1);
}

.header .flex .profile h3{
    margin-bottom: .5rem;
   
    font-size: 2rem;
    color: var(--black);
    text-overflow: ellipsis;
    overflow-x: hidden;
    
}
.header .flex .profile img{
    margin-bottom: .5rem;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
}
.header .flex .profile span{
    font-size: 1.5rem;
    color: var(--light-black);
}

.side-bar{
    position: fixed;
    top: 0; left: 0;
    height: 100vh;
    background-color: var(--white);
    width: 30rem;
    border-right: var(--border);
    z-index: 1200;
}
.side-bar.active{
    left: -30rem;
}

.side-bar .profile{
    background-color: var(--white);
    padding: 2rem 1rem;
    text-align: center;
    border-radius: .5rem;
    width: 29rem;
    overflow-x: hidden;
    
}
.side-bar .profile h3{
    margin-bottom: .7rem;
    color: var(--black);
    font-size: 2rem;
    color: var(--black);
    text-overflow: ellipsis;
    overflow-x: hidden;
    padding-bottom: 1rem;
}
.side-bar .profile span{
    font-size: 1.5rem;
    color: var(--light-black);
}
.side-bar .profile img{
    margin-bottom: .5rem;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
}
.side-bar .navbar{
    line-height: 1rem;
    padding: 0rem  1rem;
    top: 2rem;
}

.side-bar .navbar a{
    display: block;
    padding: 1.5rem  1rem;
    font-size: 1.8rem;
    margin: 3rem 0rem;
    
}




.side-bar .navbar a i{
    margin-right: 1.2rem;
    color: var(--main-color);
    transition: .2s linear;
}
.side-bar .navbar a span{
    color: var(--light-black);
}
.side-bar .navbar a:hover i{
    margin-right: 2.5rem;
    
}
.side-bar .navbar a:hover{
    background-color: var(--liight-bg);
    border-radius: 1rem;
}
.side-bar #close-bar{
    text-align: right;
    padding: 1.3rem;   /* par rapport l side-bar*/
    padding-bottom: 0;
    display: none;
}
.side-bar #close-bar i{
    height: 4rem;
    width: 4rem;
    line-height: 4.4rem;
    color: #fff;
    background-color: black;
    cursor: pointer;
    text-align: center;
    font-size: 2rem;
    border-radius: 10rem;
}

.form-container {
    min-height: calc(100vh - 9rem);  /* min-height : 100vh*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-container form{
    width: 50rem;
    background-color: var(--white);
    border-radius: .5rem;
    padding:2rem;
    
}

.form-container form p{
    padding-top: .5rem;
    font-size: 1.7rem;
    color: var(--light-black);
}
.form-container form p span{
    color: var(--red);
}
.form-container form .box{
    width: 100%;
    border-radius: .5rem;
    margin: 1rem 0;
    padding: 1.4rem;
    font-size: 1.8rem;
    color: var(--black);
    background-color: var(--liight-bg);
}




/*.form-container form .flex .col{
    flex: 1 1 40rem;
}*/




.form-container form.login{
    width: 50rem;
}
.form-container form .link{
    
    padding-top: 2rem;
    text-align: center;
    font-size: 2rem;
}
.form-container form .link a{
    color: var(--main-color);
}
.form-container form .link a:hover{
    text-decoration: underline;
}
.form-container form h3{
    font-size: 2.5rem;
    text-align: center;
    color: var(--black);
    margin-bottom: 1rem;
    text-transform: capitalize;
}


/* dashboard */
.dashboard .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
}
.dashboard .box-container .box{
    border-radius: .5rem;
    background-color: var(--white);
    padding: 1.5rem;
    text-align: center;
}
.dashboard .box-container .box h3{
    font-size: 2.5rem;
    color: var(--black);
    margin-bottom: .5rem;

}
.dashboard .box-container .box p{
    margin: 1rem 0;
    border-radius: .5rem;
    padding: 1rem;
    background-color: var(--liight-bg);
    font-size: 1.8rem;
    color: var(--light-black);
}
/* add images */
.playlist-form form{
    max-width: 50rem;
    background-color: var(--white);
    margin: 0 auto;
    border-radius: .5rem;
    padding: 2rem;
    padding-top: 1rem;
}
.playlist-form form p{
    padding-top: 1rem;
    font-size: 1.8rem;
    color: var(--light-black);
}
.playlist-form form span{
    color: var(--red);
}
.playlist-form form .box{
    width: 100%;
    background-color: var(--liight-bg) ;
    border-radius: .5rem;
    padding: 1.4rem;
    color: var(--black);
    margin: 1rem 0;
    font-size: 1.6rem;
}

.playlist-form form img{
    height: 35rem;
    border-radius: .5rem;
    margin: 1rem 0;
    width: 100%;
    object-fit: cover;
}


.playlist-form form textarea{
    height: 20rem;
    resize: none;
}

.playlists .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
}
.playlists .box-container .box{
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
}
.playlists .box-container .box .thumb{
    position: relative;
    height: 20rem;
    margin: 2rem 0;
}
.playlists .box-container .box .thumb span{
    position: absolute;
    top: 1rem; left: 1rem;
    background-color: rgba(0,0,0,.3);
    color: #fff;
    font-size: 2rem;
    padding: .5rem 1.5rem;
    border-radius: .5rem;
}
.playlists .box-container .thumb img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
}
.playlists .box-container .box .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    
}
.playlists .box-container .box .flex i{
    font-size: 1.5rem;
    color: var(--main-color);
    margin-right: 0.5rem;
}
.playlists .box-container .box .flex span{
    font-size: 1.5rem;
    color: var(--main-color);
}
.playlists .box-container .box .title{
    font-size: 2rem;
    color: var(--black);
}
.playlists .box-container .box .description{
    padding: .5rem 0;
    margin-top: 1rem;
    line-height: 1.5;
    font-size: 1.7rem;
    color: var(--light-black);
}
.playlists .box-container .box .description::after{
    content: '...';
}
/* add plan */
.ecriture-form form{
    max-width: 70rem;
    background-color: var(--white);
    margin: 0 auto;
    border-radius: .5rem;
    padding: 2rem;
    padding-top: 1rem;
}
.ecriture-form form .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.ecriture-form form .flex input{
    width: 100%;
    background-color: var(--liight-bg) ;
    border-radius: .5rem;
    padding: 1.4rem;
    color: var(--black);
    margin: 1rem 0;
    font-size: 1.6rem;
}
.ecriture-form form .flex .select{
    width: 100%;
    background-color: var(--liight-bg) ;
    border-radius: .5rem;
    padding: 1.4rem;
    color: var(--light-color);
    margin: 1rem 0;
    font-size: 1.6rem;
}
.ecriture-form form .flex p{
    padding-top: 1rem;
    font-size: 1.8rem;
    color: var(--light-black);
}
.ecriture-form form .flex .box span{
    color: var(--red);
}

.ecriture-form form textarea{
    height: 20rem;
    resize: none;
    background-color: var(--liight-bg);
    width: 100%;
    margin-top: 1rem;
    padding: 1.4rem;
    font-size: 1.6rem;
    margin: 1rem 0;
    color:var(--black);
}

.ecriture-form form p{
    padding-top: 1rem;
    font-size: 1.8rem;
    color: var(--light-black);
}

/* profil*/
.profile .details{
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
}
.profile .details .tutor{
    margin-bottom: 2rem;
    text-align: center;
}
.profile .details .tutor img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2rem;
}
.profile .details .tutor h3{
    margin: .5rem 0;
    font-size: 2rem;
    color: var(--black);
}
.profile .details .tutor span{
    color: var(--light-black);
    font-size: 1.7rem;
    display: block;
}
.profile .details .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    
}
.profile .details .box-container .box{
    flex: 1 1 20rem;
    border-radius: .5rem;
    background-color: var(--liight-bg);
    padding: 2rem;
    text-align: center;
}
.profile .details .box-container .box h3{
    font-size: 2.5rem;
    color: var(--black);
    margin-bottom: .5rem;
}
.profile .details .box-container .box p{
    padding: .5rem;
    font-size: 1.8rem;
    color: var(--light-black);
}

/* view picture*/
.playlist-details .row{
    line-height: 3rem;
}

.playlist-details .row .thumb img{
    
    width: 100%;
    object-fit: cover;
    height: 60rem;
}
.playlist-details .row .thumb p{
    
    background-color: var(--liight-bg);
}
.playlist-details .row p{
    font-size: 1.6rem;
}
.playlist-details .row p span{
    color: var(--light-black);
}
.playlist-details .row p i{
    margin-right: 1rem;
    color: var(--main-color);
}
.playlist-details .row .details{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 1.5rem;
    background-color: var(--liight-bg);
}
.playlist-details .row .details .info .title{
    color: var(--black);
    font-size: 1.8rem;
    text-align: center;
    text-transform: capitalize;
}
.playlist-details .row .details .info .description{
    font-size: 1.6rem;
    color: var(--light-black);
}





body.dark{
    --white:#222;
    --black:#fff;
    --light-color:#aaa;
    --liight-bg :#333;
    --border:.1rem solid rgba(255,255,255,.2);
}
/* view video*/

/*.playlists .box-container .box .thumb i{
    position: absolute;
    top: 2rem; left: 2rem; right: 2rem;
    height: 20rem;
    background-color: rgb(0, 0, 0, .4);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    color: #fff;
    border-radius: .5rem;
    display: none;
}*/

.playlist-details .row .thumb video{
    width: 640;
    height: 460;
    border-radius: .5rem;
    object-fit: cover;
    text-align: center;
}

.playlist-details .row{
    background-color: var(--white);
    padding: 2rem;
}





.footer {
    position: fixed;
    bottom: 0; left: 0; right: 0;
    background-color: var(--white);
    z-index: 1000;
    border-top: var(--border);
    font-size: 2rem;
    padding:2.5rem 2rem;
    text-align: center;
    padding-left: 30rem;
    color: var(--light-black);
}
.footer.active{
    padding-left: 2rem;
}
.footer span{
    color: var(--main-color);
}

.header .flex .menu a{
    color: var(--black);
}

.header .flex .menu a:hover{
    color: var(--main-color);
}


.welcome {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    
}





/* media queries */
@media (max-width:1200px) {
    body{
        padding-left: 0;

    }
    
    .side-bar{
        left: -30rem;
        transition: .2s linear;
    }
    .side-bar.active{
        left: 0;
        box-shadow: 0 0 0 100vw rgba(0, 0 , 0 , .5);
    }
    .side-bar #close-bar{
        display: block;
    }
    .footer{
        padding-left: 2rem;
    }
}
@media (max-width:991px) {
    html{
        font-size: 55%;
    }
    
    
    
}
@media (max-width:768px) {
    #menu-btn{
        
        display: inline-block;

    }
    #search-btn{
        display: inline-block;
    }
    
    .header .flex .search-form{
        position: absolute;
        top: 110%; left: 0; right: 0;
        background-color: var(--white);
        /*border-top:var(--border);
        border-bottom: var(--border);*/
        border: var(--border);
        width: 100%;
        clip-path: polygon(0 0 , 100% 0, 100% 0, 0 0);
        transition: .2s linear;
    }
    .header .flex .search-form.active{
        clip-path: polygon(0 0 , 100% 0, 100% 100%, 0 100%);
    }
    .header .flex .menu{
        position: absolute;
        top: 99%; left: 0; right: 0;
        background-color: var(--white);
        border-top: var(--border);
        padding: 2rem;
        clip-path: polygon(0 0 , 100% 0,100% 0,0 0);
    }
    .header .flex .menu.active{
        clip-path: polygon(0 0 , 100% 0,100% 100%, 0 100%);
    }
    .header .flex .menu a{
        display: block;
        margin: 2rem;
        text-align: center;
    }
    

}
@media (max-width:450px) {
    html{
        font-size: 50%;
    }
    .heading{
        font-size: 2.5rem;
    }
    body{
        padding-bottom: 12rem;
    }
    .header .flexs img{
        width: 150px;
    }
}